
main {
    width: 900px;
    display: grid;
    grid-template-areas: 
        'nav introducion'
        'deco about';
    grid-template-columns: minmax(200px,300px) minmax(300px,600px);
    background-color: black;
    border: 5px double var(--red);
    border-radius: 5px;
    margin: auto;
    align-items: center;
}
/*intro*/
.introducion{
    max-width: 600px;
    min-width: 300px;
    min-height: 250px;
    grid-area: introducion;
    align-self: center;
    background-image: url("../img/redskull.jpg" );
    background-color: rgba(0, 0, 0, 0.89);
    background-blend-mode: multiply;
  
}

main .introducion p {
    font-size: 1.8em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
main .introducion p:first-child{
    margin-top: 50px;
}

/* links */
 #nav {
    grid-area: nav;
    border-radius: 5px;
  justify-self: start;
    padding: 0 10px 10px 10px;
    height: 250px;
    font-size: 2em;
    border-right: 5px double var(--red);
}


#nav a {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    display: list-item;
    list-style: "♱ " inside ;
    border: 0;
    border-bottom: 2px solid var(--red);
    
    
}

#nav nav a:hover {
    color: var(--red);
    background-color: white;
}

/*deco*/

.deco{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    border-top: 5px double var(--red);
    border-right: 5px double var(--red);
    
   

}
 .deco .song {
   margin-top: 35px;
    max-width: 300px;
    min-width: 200px;
    padding: 5px;
   
}
.song #tv{
    width: 100%;
}

/*about*/

.about{
    grid-area: about;
    border-top: 5px double var(--red);
    padding: 10px;
    
}
.about h2{
    font-size: 1.8em;
}
.about ul li{
    list-style: none;
    font-size: 1.2em;
}


.about nav{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about nav img:hover{
    width: 29px;
    transition: 1s;
}

/*aside cat img*/

#asideimg{
    position: absolute;
    top: 700px;
    left: 900px;
}

#asideimg img{
    filter: drop-shadow(1px 12px 10px #ca000767);
    width: 300px;
}
@media screen and (max-width: 600px){
    #asideimg{
        display: none;
    }
}

/*buttum area*/

.mybtn textarea{
    color: black;
    font: 1em sans-serif;
}
.mybtn{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 5px;
}

.mybtn textarea::-webkit-scrollbar {
    display: none;
}
