/* Fontes personalizadas */
@font-face {
    font-family: "The Great Reaper";
    src: url(../fonts/MB-The_Great_Reaper.ttf);
}

@font-face {
    font-family: "Venice Classic";
    src: url(../fonts/VeniceClassic.ttf);
}

/* Variáveis globais */
:root {
    --red: #B00303;
    --title: "The Great Reaper";
    --body: "Venice Classic";

}

/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--body);
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
}
body{
    background-image: url(../img/bg-spiders.png);
    padding: 30px;
    width: 900px;
    position: relative;
    margin: auto;
}
/* Header */
header h1 {
    font-family: var(--title);
    font-size: 10em;
    color: var(--red);
    text-shadow: 0px 1px 8px var(--red);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
header h1:hover {
    color: rgb(216, 203, 203);
}

/* texto */
strong {
    color: var(--red);
    font-weight: 800;
}
h1,h2,h3{
    text-align: center;
    margin-bottom: 15px;
    color: var(--red);
}
h1{
    font-size: 2em;
}
p{
    font-size: 1.2em;;
}
/* Footer */
footer {
    width: 600px;
    padding: 15px;
    grid-area: footer;
    background: #000;
    margin: 20px auto 20px auto;
    display: flex;
    border: 5px double var(--red);
    border-radius: 5px;
    gap:10px;
    justify-content: center;
}

footer li{
    list-style: "♱" inside ;
}

footer li:hover, a:hover{
    color: var(--red)
}

/* Scrollbar personalizado */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid var(--red);
}

/*aside img*/
#asideimg{
    position: absolute;
    top: 700px;
    left: 900px;
}

#asideimg img{
    filter: drop-shadow(1px 12px 10px #ca000767);
    width: 300px;
}
@media screen and (max-width: 600px){
    #asideimg{
        display: none;
    }
}