
main {
    width: 900px;
    display: grid;
    grid-template-areas: 
        'nav introducion'
        'about deco';
    grid-template-columns: minmax(200px,300px) minmax(300px,600px);
    background-color: black;
    border: 5px double var(--red);
    border-radius: 5px;
    margin: auto;
    align-items: center;
}

.introducion{
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    grid-area: introducion;
    align-self: center;
}

main .introducion p {
    font-size: 1.8em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
main .introducion p:first-child{
    margin-top: 50px;
}

/* Sidebar esquerda */
 #nav {
    grid-area: nav;
    border-radius: 5px;
  justify-self: start;
    padding: 0 10px 10px 10px;
    height: 100%;
    font-size: 2em;
    border-right: 5px double var(--red);
}


#nav a {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    display: list-item;
    list-style: "♱ " inside ;
    border: 0;
    border-bottom: 2px solid var(--red);
    
    
}

#nav nav a:hover {
    color: var(--red);
    background-color: white;
}
.about{
    grid-area: about;
    border-right: 5px double var(--red);
    padding: 10px;
    
}
.about ul li{
    list-style: none;
}

.deco{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: center;
    background-image: url("../img/redskull.jpg" );
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: multiply;

}
.deco .gif {
    display: flex;
    align-items: center;
    width: 400px;
}
.deco .cd{
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

.playing {
    animation: rotate-animation 8s infinite linear;
  }
  
  @keyframes rotate-animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 .text{
    margin-top: 5px;
}
.text marquee{
    font-size: 1.2em;
}
.about nav{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#asideimg{
    position: absolute;
    top: 700px;
    left: 900px;
}

#asideimg img{
    filter: drop-shadow(1px 12px 10px #ca000767);
    width: 300px;
}
@media screen and (max-width: 600px){
    #asideimg{
        display: none;
    }
}


