/* Fontes personalizadas */
@font-face {
    font-family: "The Great Reaper";
    src: url(fonts/MB-The_Great_Reaper.ttf);
}

@font-face {
    font-family: "Venice Classic";
    src: url(fonts/VeniceClassic.ttf);
}

/* Variáveis globais */
:root {
    --red: #B00303;
    --title: "The Great Reaper";
    --body: "Venice Classic";
}

/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--body);
}
body{
    background-image: url(img/bg-spiders.png);
    padding: 30px;
}
/* Header */
header h1 {
    font-family: var(--title);
    font-size: 10em;
    color: var(--red);
    text-shadow: 0px 1px 8px var(--red);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    max-width: 900px; height: 100%;
    display: grid;
    grid-template-areas: 
        'nav introducion'
        'about deco'
        'footer footer ';
    grid-template-columns: max(300px) max(600px);
    background-color: black;
    border: 5px double var(--red);
    border-radius: 5px;
    margin: auto;
    align-items: center;
}


header h1:hover {
    color: rgb(216, 203, 203);
}

.introducion{
    grid-area: introducion;
  
}

main .introducion p {
    font-size: 1.8em;
    text-indent: 1em;
    text-align: center;
    margin: 10px;
}

/* Sidebar esquerda */
 #nav {
    grid-area: nav;
    border-radius: 5px;
  justify-self: start;
    padding: 0 10px 10px 10px;
    height: 100%;
    font-size: 2em;
}


#nav a {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    display: list-item;
    list-style: "♱ " inside ;
    border: 0;
    border-bottom: 2px solid var(--red);
    
    
}

#nav nav a:hover {
    color: var(--red);
    background-color: white;
}
.about{
    grid-area: about;
    border-right: 5px double var(--red);
    padding: 10px;
    
}
.about ul li{
    list-style: none;
}


/* texto */
strong {
    color: var(--red);
    font-weight: 800;
}
h1,h2,h3{
    text-align: center;
    margin-bottom: 15px;
    color: var(--red);
}
p{
    font-size: 1.2em;;
}



/* Footer */
footer {
    padding: 15px;
    grid-area: footer;
    background: #000;
    margin: 20px auto 20px auto;
    display: flex;
    border: 5px double var(--red);
    border-radius: 5px;
    gap:10px;
}

footer li{
    list-style: "♱" inside ;
}

footer li:hover, a:hover{
    color: var(--red)
}

/* Scrollbar personalizado */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid var(--red);
}
